---
title: Getting Started with My Documentations
tags: [getting_started]
last_updated: June 17, 2019
keywords: homepage
summary: "an Index page for my documentations"
permalink: index.html
sidebar: mydoc_sidebar
---

{% if site.output == "pdf" %}
{{site.data.alerts.note}} The content on this page doesn't display well on PDF, but I included it anyway so you could see the problems this layout poses if you're including it in PDF.  {{site.data.alerts.end}}
{% endif %}

{% unless site.output == "pdf" %}
<script src="js/jquery.shuffle.min.js"></script>
<script src="js/jquery.ba-throttle-debounce.min.js"></script>
{% endunless %}

      <div class="filter-options">
      <button class="btn btn-primary" data-group="all">All</button>
      <button class="btn btn-primary" data-group="bash">Bash</button>
      <button class="btn btn-primary" data-group="kernel">Kernel</button>
      <button class="btn btn-primary" data-group="memory">Memory</button>
      <button class="btn btn-primary" data-group="storage">Storage</button>
      <button class="btn btn-primary" data-group="openstack">OpenStack</button>
      <button class="btn btn-primary" data-group="idm">IDM</button>
      <button class="btn btn-primary" data-group="python">Python</button>
      <button class="btn btn-primary" data-group="misc">Misc</button>
    </div>      

<div id="grid" class="row">

    <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["bash"]'>
        <div class="panel panel-default">
            <div class="panel-heading">Bash</div>
            <div class="panel-body"> Bash Script
            <ul>
                {% for page in site.pages %}
                    {% for tag in page.tags %}
                        {% if tag == "bash" %}
                            <li><a href="{{page.url | remove: '/'}}">{{page.title}}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
            </div>
         </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["kernel"]'>
        <div class="panel panel-default">
            <div class="panel-heading">Kernel</div>
            <div class="panel-body"> All I known about Linux Kernel
            <ul>
                {% for page in site.pages %}
                    {% for tag in page.tags %}
                        {% if tag == "kernel" %}
                            <li><a href="{{page.url | remove: '/'}}">{{page.title}}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
            </div>
         </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["memory"]'>
        <div class="panel panel-default">
            <div class="panel-heading">Memory</div>
            <div class="panel-body"> Inteprete Memory Info
                <ul>
                {% for page in site.pages %}
                    {% for tag in page.tags %}
                        {% if tag == "memory" %}
                            <li><a href="{{page.url | remove: '/'}}">{{page.title}}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </ul>
            </div>
         </div>
    </div>
    
    <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["storage"]'>
        <div class="panel panel-default">
            <div class="panel-heading">Storage</div>
            <div class="panel-body"> Something about Storage
                <ul>
                {% for page in site.pages %}
                    {% for tag in page.tags %}
                        {% if tag == "storage" %}
                            <li><a href="{{page.url | remove: '/'}}">{{page.title}}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </ul>
            </div>
         </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["idm"]'>
        <div class="panel panel-default">
            <div class="panel-heading">IDM</div>
            <div class="panel-body"> Kerberos, IPA, Ldap, Windows AD stuffs
                <ul>
                {% for page in site.pages %}
                    {% for tag in page.tags %}
                        {% if tag == "idm" %}
                            <li><a href="{{page.url | remove: '/'}}">{{page.title}}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </ul>
            </div>
         </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["openstack"]'>
        <div class="panel panel-default">
            <div class="panel-heading">OpenStack</div>
            <div class="panel-body"> Private Cloud
                <ul>
                {% for page in site.pages %}
                    {% for tag in page.tags %}
                        {% if tag == "openstack" %}
                            <li><a href="{{page.url | remove: '/'}}">{{page.title}}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </ul>
            </div>
         </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["python"]'>
        <div class="panel panel-default">
            <div class="panel-heading">Python</div>
            <div class="panel-body"> Python Scripts
                <ul>
                {% for page in site.pages %}
                    {% for tag in page.tags %}
                        {% if tag == "python" %}
                            <li><a href="{{page.url | remove: '/'}}">{{page.title}}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </ul>
            </div>
         </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["misc"]'>
        <div class="panel panel-default">
            <div class="panel-heading">Misc</div>
            <div class="panel-body"> Miscellaneous Stuffs
                <ul>
                {% for page in site.pages %}
                    {% for tag in page.tags %}
                        {% if tag == "misc" %}
                            <li><a href="{{page.url | remove: '/'}}">{{page.title}}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </ul>
            </div>
         </div>
    </div>
    
          <!-- sizer -->
          <!-- sizer -->
    <div class="col-xs-6 col-sm-4 col-md-1 shuffle_sizer"></div>          

    </div><!-- /#grid -->

{% unless site.output == "pdf" %}
{% include initialize_shuffle.html %}
{% endunless %}

{{site.data.alerts.note}} This was mostly an experiment to see if I could break away from the hierarchical TOC and provide a different way of arranging the content. However, this layout is somewhat problematic because it doesn't allow you to browse other navigation options on the side while viewing a topic.{{site.data.alerts.end}}

